@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Work+Sans:wght@100;300;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #2c394c;
}

.website-name {
  text-align: left;
  font-size: 40px;
  margin: 10px;
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  color: #00aeef;
}

.click-counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.7);
  height: 450px; /* Set the container height to 100% of the viewport height */
  width: 650px;
  background-color: #3a424f;
  border-radius: 15px;
}

.click-counter-title {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #00aeef;
}

.time-label {
  margin-bottom: 10px;
  color: #00aeef;
}

.time-dropdown {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  color: #00aeef;
  background-color: #2c394c;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transitions for background color and text color */
}

.time-dropdown:hover {
  background-color: #2c404c; /* Change the background color on hover */
}

.time-dropdown:focus {
  outline: none; /* Remove the default focus outline */
  background-color: #2c404c; /* Change the background color when focused */
}

.time-dropdown option {
  color: #00aeef;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transitions for background color and text color for options */
}

.time-dropdown option:hover {
  background-color: #2c404c; /* Change the background color of options on hover */
}

.click-stats {
  color: #00aeef;
  margin: 10px auto;
  text-align: left;
}

.click-count,
.time-remaining,
.click-speed {
  font-size: 18px;
  display: block; /* Display as block (one below the other) */
  margin-bottom: 10px; /* Add space between them */
}

.click-area {
  width: 300px; /* Set the width to your desired value */
  height: 100px; /* Set the height to your desired value */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  background-color: #000;
  color: #00ff00;
  font-size: 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  user-select: none;
}

.click-area:hover {
  background-color: #333; /* Change the background color on hover */
}

.button-container {
  margin-top: 20px;
}

.game-over {
  font-size: 24px;
  color: #00aeef;
}

.restart-button,
.start-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #b0ff49; /* Updated background color for both buttons */
  color: #000000;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  margin-bottom: 40px;
}

.restart-button:hover,
.start-button:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
